body {
  background: black;
  color: whitesmoke;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e2e2e2;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: black;
}

nav {
  border-bottom: 1px solid white;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #151515;
  padding: 1em;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 2em;
}

.article-title {
  color: #75bfff;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 1em;
  border-radius: 5px;
}

.article-metadata {
  display: flex;
  direction: row;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #e3e3e3;
}

a {
  color: skyblue;
}
a:hover {
  color: teal;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

a.article-tags {
  background-color: #428bca;
  color: whitesmoke;
  padding: 0.25em;
  margin-inline-end: 0.2em;
  text-align: center;
  border-radius: 3px;
}
a.article-tags:hover {
  text-decoration: none;
  background-color: #007bff;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.article-content {
  white-space: pre-line;
}

article:hover {
  transition: all 0.1s;
}

article:hover {
  box-shadow: 0 0 1em 0.5em gray;
}

.article-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.article-content blockquote > :first-child {
  margin-top: 0;
}

.article-content blockquote > :last-child {
  margin-bottom: 0;
}

.form-control {
  background-color: #252525;
  color: #e2e2e2;
  /* overflow-y: scroll; */
}

.form-control:focus {
  background-color: inherit;
  color: inherit;
}

.article-content pre {
  padding: 0.25em 0.5em;
  border-radius: 3px;
  background-color: #424242;
  color: #e2e2e2;
}

.article-content blockquote {
  background-color: #1d1d1d;
}
.article-content blockquote:first-child {
  padding-top: 0.5em;
}
.article-content blockquote:last-child {
  padding-bottom: 0.25em;
}
.article-content blockquote p {
  margin-bottom: 0.25em;
  color: #d2d2d2;
}

@media (max-width: 568px) {
  h1 {
    font-size: 2rem;
  }
}
