{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <div id="togglePreview" class="px-2 text-white bg-secondary"
    style="
    position: absolute;
    right: 1em;
    top: 1px;
    border-radius: 3px;
    cursor: pointer;
    "
  >
    Preview
  </div>

  <form method="post">
    {% comment %} this token prevents cross site scripting {% endcomment %}
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Blog Post</legend>
      {% comment %} pipe our editted form to crispy for styling {% endcomment %}
      {{ form|crispy }}
    </fieldset>

    <style>
      @media screen and (max-width: 568px) {
        button#post {width: 100%;}
      }
    
    </style>

    <div class="form-group">
      <button
        class="btn btn-success"
        type="submit"
        id="post"
      >
        Post
      </button>
    </div>
  </form>
  
  <div id="rendered-content" style="display: none;"></div>

  <script>
    const form = document.getElementsByTagName("form")[0];
    const togglePreview = document.getElementById("togglePreview");
    const textarea = document.getElementById("id_content");
    const title = document.getElementById("id_title");
    const content = document.getElementById("rendered-content");
    
    let isPreview = false;

    function updateMd() {
      let text = textarea.value;
      let titleText = title.value;
      content.innerHTML = `<h1>${titleText}</h1><hr>` + marked(text);
    }

    togglePreview.addEventListener("click", () => {
      isPreview = !isPreview;
      if (isPreview) {
        updateMd();
        content.style.display = "block";
        form.style.display = "none";
        togglePreview.innerText = "Edit";
      } else {
        content.style.display = "none";
        form.style.display = "block";
        togglePreview.innerText = "Preview";
      }
    })
  </script>
</div>
{% endblock content %}
